/* Write your CSS here */
.history-container {
  border: 1px solid #d7dfe9;
  display: flex;
  padding: 0px;
  width: 90%;
  list-style-type: none;
  padding-left: 0px;
  padding-left: 30px;
}
.history-item {
  font-size: 12px;
  color: #1e293b;
  font-weight: bold;
  width: 25%;
}
.delete-btn {
  border: none;
  background-color: transparent;
  outline: none;
}
.delete-img {
  height: 20px;
}
